VITE_SUPABASE_URL=https://cqdwnpeixkhucuauxgom.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxZHducGVpeGtodWN1YXV4Z29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4OTgzMjgsImV4cCI6MjEwNTQ3NDMyOH0.MRRhqWObM-cLifhE49701iNp9TxjSftNFLmWsBnklY4
VITE_API_BASE_URL=http://localhost:5000/api